.head {
  font-size:24px;color:white;text-align:center;background:black;padding:10px;margin:auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.headlink {
   color:white;text-decoration-line:none;display:inline-block;
}

.headlink:hover {
  cursor:pointer;font-weight:bold;text-decoration-line:underline;text-decoration-color:green;
}

.headerImage {
  width:200px;height:auto;
}
